extends layout

block content
    h1=title

    form(method='POST' action='')
      div
        label(for='adminpass') Enter the admin password to unlock:
        input#adminpass(type='password' name='adminpass' required='true' )
      button(type='submit') Enter
    
    p Don't know it?
        a(href="/home") Return home  

    if errors
      ul
        for error in errors
          li!= error.msg
